@import url(reset.css);
@import url(fonts.css);

body {
  width: 1440px;
  height: 900px;
  margin: 0 auto;
}
.navigationWrapper {
  height: 44px;
  width: 486px;
  margin: 54px auto 0px;
  display: flex;
  justify-content: space-between;
}
.navigationItem {
  width: 116px;
  height: 44px;
}
.navigationLink {
  text-decoration: none;
  color: black;
  font-size: 24px;
  font-family: Open sans;
  font-style: normal;
  font-weight: bold;
  line-height: 33px;
}
.navigationLink:hover {
  color: #2785f7;
}
.navigationActive {
  color: #2785f7;
}
.bodyWrapper {
  width: 1404px;
  height: 726px;
  background-color: #eaebed;
  border-radius: 30px;
  margin: 30px auto 0px;
  display: flex;
}
.sideMenuWrapper {
  width: 150px;
  height: 100%;
}
.contentWrapper {
  width: 100%;
  height: 100%;
}
.accountContentWrapper {
  width: 100%;
  height: 100%;
  display: flex;
}
.sideMenuBox {
  width: 105px;
  height: 420px;
  background: #fefefe;
  border-radius: 30px;
  margin: 170px auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.icons {
  width: 67px;
  height: 62px;
  border-radius: 15px;
  margin: 5px;
  text-align: center;
  padding-top: 10px;
  position: relative;
}
.icons:hover {
  background-color: #2785f7;
  fill: white;
  cursor: pointer;
}
.icons::after {
  content: "";
  display: block;
  width: 0px;
  padding: 0;
  height: 100%;
  background-color: #2785f7;
  border-radius: 0 15px 15px 0;
  position: absolute;
  top: 0;
  left: 52px;
}
.icons:hover::after {
  content: "Project";
  cursor: pointer;
  width: 99px;
  transition: width 0.9s, padding-left 0.9s, padding-right 0.9s;
  font-size: 20px;
  font-weight: bold;
  color: white;
  padding-top: 13px;
  text-align: center;
  overflow: hidden;
}
#account:hover::after {
  content: "Account";
}
#groups:hover::after {
  content: "Groups";
}
#cloud:hover::after {
  content: "Cloud";
}
#settings:hover::after {
  content: "Settings";
}
/* #project:hover::after{
    content: 'Project';
    transition: width 0.5s;
    font-size: 20px;
    color: white;
    padding: 15px;
} */

svg {
  width: 40px;
  height: 40px;
}
.topContentWrapper {
  width: 100%;
  height: 130px;
  margin-top: 80px;
  display: flex;
  justify-content: space-around;
}
.topContent {
  width: 592px;
  height: 100%;
  background: #fefefe;
  border-radius: 30px;
  display: flex;
  justify-content: left;
  align-items: center;
}
.textBox {
  margin-left: 42px;
}
.greyText {
  font-family: Open Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 25px;
  color: #b1b1b1;
}
.blackText {
  font-family: Open Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 33px;
  color: #000000;
}
.bottomContentWrapper {
  display: flex;
}
.leftContentWrapper {
  width: 61%;
  height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
.leftContent {
  width: 732px;
  height: 194px;
  background: #fefefe;
  border-radius: 30px;
  display: flex;
  justify-content: left;
  align-items: center;
  margin-left: 22px;
}
.teamImage {
  width: 120px;
  height: 139px;
  background: url(../images/team.jpg);
  background-size: contain;
  background-repeat: no-repeat;
  flex-shrink: 0;
  margin-left: 42px;
}
.rightContentWrapper {
  width: 49%;
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.rightContent {
  width: 460px;
  height: 426px;
  background: #fefefe;
  border-radius: 30px;
  margin-left: 12px;
}
.dataImage {
  width: 120px;
  height: 116px;
  background: url(../images/data.jpg);
  background-size: contain;
  background-repeat: no-repeat;
  flex-shrink: 0;
  margin: 34px 0 25px 42px;
}
.dataText {
  width: 366px;
  height: 198px;
}
.teamBodyWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.rowGroupWrapper {
  width: 1297px;
  height: 325px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.teamMemberWrapper {
  width: 292px;
  height: 325px;
  background: #ffffff;
  border-radius: 41px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  position: relative;
}
.teamMemberWrapper:hover::after {
  content: "";
  width: 75px;
  height: 70px;
  position: absolute;
  background: #ffffff;
  border-radius: 20px;
  background-image: url("../images/delete_black_24dp.svg");
  background-size: auto;
  background-repeat: no-repeat;
  background-position: center;
  right: -33px;
  top: -33px;
}
.teamMemberWrapper:hover {
  background-color: #2785f7;
  cursor: pointer;
}
.teamMemberWrapper:hover .teamGreytext,
.teamMemberWrapper:hover .blackText {
  color: white;
}
.smallerMemberWrapper {
  height: 278px;
}
.memberPhoto {
  width: 100px;
  height: 100px;
  border-radius: 50px;
}
.informationWrapper {
  width: 232px;
  height: 64px;
  text-align: center;
}
.dateWrapper {
  width: 215px;
  height: 44px;
  text-align: center;
}
.firstPhoto {
  background: url(../images/1.jpg);
  background-size: contain;
}
.secondPhoto {
  background: url(../images/2.jpg);
  background-size: contain;
}
.thirdPhoto {
  background: url(../images/3.jpg);
  background-size: contain;
}
.fourthPhoto {
  background: url(../images/4.jpg);
  background-size: contain;
}
.fifthPhoto {
  background: url(../images/5.jpg);
  background-size: contain;
}
.sixthPhoto {
  background: url(../images/6.jpg);
  background-size: contain;
}
.seventhPhoto {
  background: url(../images/7.jpg);
  background-size: contain;
}
.eighthPhoto {
  background: url(../images/8.jpg);
  background-size: contain;
}
.teamGreytext {
  font-family: Open Sans;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 27px;
  text-align: center;
  color: #c5c5c5;
}
table {
  margin: 130px auto;
}
tr {
  width: 1194px;
  height: 64px;
}
tbody tr:hover {
  background-color: #ffffff;
  border-radius: 21px;
}
.tableText {
  display: block;
  width: 275px;
  height: 60px;
  text-align: center;
}
.checkbox {
  width: 35px;
  height: 35px;
  border-radius: 11px;
  display: block;
  margin: 0 auto -13px;
}
.downloadIconWrapper {
  width: 285px;
  height: 60px;
  text-align: center;
}
tbody tr td:first-child {
  border-top-left-radius: 21px;
  border-bottom-left-radius: 21px;
}
tbody tr td:last-child {
  border-top-right-radius: 21px;
  border-bottom-right-radius: 21px;
}
body {
  font-family: Open Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 33px;
  color: #323232;
}
.downloadIconWrapper {
  width: 35px;
  height: 35px;
  border-radius: 11px;
  margin: 10px auto 0px;
}
.downloadIcon {
  width: 25px;
  height: 25px;
  margin-top: 5px;
}
.downloadIconWrapper:hover {
  background: #2684f7;
  fill: white;
}
.leftAccountContentContainer {
  width: 45%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: stretch;
}
.accountCompanyFormContainer {
  width: 53%;
  height: 685px;
  background: #fefefe;
  border-radius: 30px;
  margin-top: 20px;
}
.accountEmailContainer {
  width: 555px;
  height: 149px;
  background: #fefefe;
  border-radius: 30px;
  display: flex;
  justify-content: left;
  align-items: center;
}
.accountEmailIcon {
  width: 65px;
  height: 65px;
  background: #f24f5e;
  border-radius: 50px;
  margin: 42px 0 42px 42px;
}
.accountEmailIconContent {
  color: white;
  text-align: center;
  font-size: 40px;
  margin-top: 13px;
}
.accountPasswordFormContainer {
  width: 555px;
  height: 517px;
  background: #fefefe;
  border-radius: 30px;
}
.accountFormHeader {
  width: 100%;
  height: 130px;
  display: flex;
  justify-content: left;
  align-items: center;
}
.accountLockIcon {
  width: 65px;
  height: 65px;
  background: #2785f7;
  border-radius: 50px;
  margin: 42px 0 42px 42px;
  flex-shrink: 0;
}
.input {
  height: 63px;
  width: 100%;
  background: #fefefe;
  border: 2px solid #c0c0c0;
  border-radius: 21px;
  outline: none;
  margin: 15px 0;
}
.input:focus {
  border: 2px solid #2785f7;
}
::placeholder {
  font-family: Open Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 25px;
  color: #b1b1b1;
}
.textarea {
  width: 100%;
  background: #fefefe;
  border: 2px solid #c0c0c0;
  border-radius: 21px;
  outline: none;
  margin: 15px 0;
  height: 111px;
  resize: none;
}
.textarea:focus {
  border: 2px solid #2785f7;
}
.passwordFormContainer {
  display: flex;
  flex-direction: column;
  padding: 0 40px;
}
.topCompanyInput {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 300px;
  padding: 0 40px;
}
.bottomCompanyInput {
  display: flex;
}
.leftCompanyInputGroup {
  width: 50%;
  padding-left: 40px;
  padding-right: 20px;
}
.rightCompanyInputGroup {
  width: 50%;
  padding-left: 20px;
  padding-right: 40px;
}
.lockIcon {
  fill: white;
  margin: 12px 12px;
}
